@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
:root {
  --blue: #35495e;
  --dark-blue: #0e374e;
  --gray: #f6f6f6;
  --border: rgba(246, 246, 246, 0.9);
  --dark-gray: rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 1.8rem;
}
@media (min-width: 920px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}

h1,
h2 {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.9375rem;
}

h3,
h4 {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.25rem;
}

h5,
h6 {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", sans-serif;
  font-style: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--dark-blue);
}
a:hover {
  color: var(--blue);
}
body,
html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.6;
  color: var(--blue);
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 576px) {
  body {
    font-size: 0.995rem;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

.header-container {
  background: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header-container .search-card {
  background: var(--border);
  border-top: 3px solid var(--dark-blue);
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 2rem;
  box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.96);
}
.header-container .search-card .greeting {
  color: var(--dark-blue);
  text-transform: uppercase;
  font-family: "Merriweather", serif;
}
.header-container .search-card .btn-primary {
  background: var(--dark-blue);
  border-color: var(--dark-blue);
  cursor: pointer;
}
.slt {
  display: flex;
}

.submit {
  margin-top: 20px;
}
